/*--------------------------------Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script:wght@400;700&display=swap');

/*--------------------------------Whole Page */

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Comfortaa', cursive;
}

/*--------------------------------General Margins */

section{
    margin-top: 20px;
}

.container-fluid{
    padding: 0;
    margin: 20px 0;
}

h2{
    margin-top:15px;
}

/*--------------------------------Colors */

body{
    background-color: #eaeff0;
}

header{
    background-color: #06273c;
    color: #d6dee1;
}

#locations-dates{
    background-color: #d6dee1;
    background-color: #7092a3;
    background-color: #a2bdc7;
}

#footer{
    background-color: #06273c;
    color: #fff;
}

/*--------------------------------Titles */

h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 45px;
}

h2, h3{
    text-align: center;    
}

h3{ 
    padding: 20px 0px;
}

/*--------------------------------Images */

/* This helps images stretch to the size of the container and makes them responsive */
.responsive-image img{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*--------------------------------Google Maps */

/* Makes maps' responsive and centered within their container */
.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    position:relative;
}

.maps iframe{
    height:auto;
    width:auto;
    border: none;
}

/*--------------------------------Header */

header{
    box-shadow: 0px 2px grey;
    background-color: #06273c;
    color: #d6dee1;
}

header h1{
    font-family: 'Dancing Script', cursive;
    margin: 0px;
    color: #d6dee1;
}

nav{
    margin: 0 20px;
    padding: 0px;
}

nav li{
    list-style-type: none;
}

#button-menu a{
    background-color: transparent;
    border:2px solid #d6dee1;
    color: #d6dee1;
}

.btn-group button{
    background-color: transparent;
    border:2px solid #d6dee1;
}

#burger-menu i{
    color: #d6dee1;
}

.dropdown-item{
    color: #d6dee1;
    text-align: center;
}

/* Will help alongside media queries to show the burger button on small devices, and the button menu on larger ones */
#burger-menu{
    display:none;
    text-align: right;
    padding: 0px;
    
}

#burger-menu button:focus{
    outline: none;

}

.navbar-toggler{
    line-height: 0;
}

/*--------------------------------Scrolling Image */

#scrolling-images{
    margin-top: 56px;
}    

/* This section allows the images to cycle automatically */
.slideshow {
    width:100%; 
    height:0px; 
    padding-bottom: 50%; 
    overflow:hidden; 
    position:relative; 
}

.slideshow img{ 
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%;
    height: auto;
}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.slideshow img:nth-child(4){animation-delay:0s;}
.slideshow img:nth-child(3){animation-delay:5s;}
.slideshow img:nth-child(2){animation-delay:10s;}
.slideshow img:nth-child(1){animation-delay:15s;}

/*--------------------------------Home */

#home p{
    text-align: justify;
}

#benefits p{
    text-align: center;
    border: 5px solid #06273c;
    border-radius: 1rem;
}

#join-us button{
    width: inherit;
}

/*--------------------------------Locations & Dates */

#locations-dates{
    border-radius: 15px;
    background: #a2bdc7;
    padding: 20px;
}

#locations-dates p{
    text-align: center;
}

.single-location{
    border-right: 1px solid #eaeff0;
    padding: 0px 30px 0px 30px;
}

.single-location div{
    padding-bottom: 20px;
}

#last-location{
    border-right: none;
}

/*--------------------------------Activities */

.single-activity{
    padding-bottom: 20px;
    border-bottom: 1px solid #06273c;
}

#last-activity{
    border-bottom: none;
}

/*--------------------------------Footer */

#footer h2{
    margin-bottom: 30px;
}

#footer div{
    text-align: center;
}

.social-links li{
    height: 55px;
    width: 55px;
    border: 2px solid #eaeff0;
    border-radius: 50%;
}

.social-links i{
    width: 25px;
    height: 25px;
    padding: 13px 0px;
    font-size: 25px;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer p{
    padding-left: 30px;
    padding-right: 30px;
}

#telephone-num p{
    font-size: 25px;
}

/*-------------------------------- Member Modal */

.modal-header i{
    color: #d6dee1;
}

.modal-content{
    background-color: #06273c;
    color: #d6dee1;
    border: 3px solid #d6dee1;
    border-radius: 1rem;
}

.modal-footer button{
    background-color: #d6dee1;
    color: #06273c;
}

/*--------------------------------Media queries */

/* Allows the burger menu to only appear on smaller devices, and only shows the button menu on larger ones */
@media screen and (max-width: 992px) {
    #button-menu{
        display:none;
    }

    #burger-menu{
        display:block;
    }

    .single-location{
        border-right: none;
    }

    .single-location div{
        border-bottom: 1px solid #eaeff0;
    }

    #last-location div{
        border-bottom: none;
    }

    #benefits-section label{
        font-size: 50%;
    }
}

