/*--------------------------------Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Dancing+Script:wght@400;700&display=swap');

/*--------------------------------Whole Page */

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Comfortaa', sans-serif;
}

/*--------------------------------General Margins */

section{
    margin-top: 20px;
}

/*--------------------------------Colors */

body{
    background-color: #eaeff0;
}

header{
    background-color: #06273c;
    color: #d6dee1;
}

#locations-dates{
    background-color: #a2bdc7;
}

#footer{
    background-color: #06273c;
    color: #d6dee1;
}

/*--------------------------------Titles */

/* This allows the anchors to show the content that would be below the fixed header */
section h2{
    padding-top: 56px;
    margin-top: -56px;
}

h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 45px;
}

h2, h3{
    text-align: center;    
}

h3{ 
    padding: 20px 0px;
}

/*--------------------------------Images */

/* This helps images stretch to the size of the container and makes them responsive */
.responsive-image img{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*--------------------------------Google Maps */

/* Makes maps' responsive and centered within their container */
.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    position:relative;
}

.maps iframe{
    height:auto;
    width:auto;
    border: none;
}

/*--------------------------------Header */

header{
    box-shadow: 0px 2px grey;
    color: #d6dee1;
}

header h1{
    font-family: 'Dancing Script', cursive;
    margin: 0px;
    color: #d6dee1;
}

nav ul{
    padding: 0px;
}

nav li{
    list-style-type: none;
}

.navbar-toggler{
    background-color: transparent;
    border:2px solid #d6dee1;
    color: #d6dee1;
}

#button-menu a{
    background-color: transparent;
    border: none;
    color: #d6dee1;
}

.dropdown-item{
    color: #d6dee1;
    text-align: center;
}

/* Will help alongside media queries to show the burger button on small devices, and the button menu on larger ones */
#burger-menu-button{
    display:none; 
}

nav button:focus{
    outline: none;
}

/*--------------------------------Scrolling Image */

#scrolling-images{
    margin-top: 56px;
}    

/* This section allows the images to cycle automatically, courtesy of Hyde Design (https://www.hyde-design.co.uk/joomla-bites/80-create-a-css-slideshow-no-javascript-required) */
.slideshow {
    height:0px; 
    padding-bottom: 50%; 
    overflow:hidden; 
    position:relative; 
}

.slideshow img{ 
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%;
    height: auto;
}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.slideshow img:nth-child(4){animation-delay:0s;}
.slideshow img:nth-child(3){animation-delay:5s;}
.slideshow img:nth-child(2){animation-delay:10s;}
.slideshow img:nth-child(1){animation-delay:15s;}

/*--------------------------------About us */

#about-us p{
    text-align: justify;
}

#benefits p{
    text-align: center;
    font-weight: 700;
}

#join-us button{
    width: inherit;
}

/*--------------------------------Locations & Dates */

#locations-dates{
    border-radius: 15px;
    background: #a2bdc7;
    padding: 20px;
}

#locations-dates p{
    text-align: center;
}

.single-location{
    border-right: 1px solid #eaeff0;
    padding: 0px 30px 0px 30px;
}

.single-location div{
    padding-bottom: 20px;
}

#last-location{
    border-right: none;
}

/*--------------------------------Activities */

.single-activity{
    padding-bottom: 20px;
    border-bottom: 1px solid #06273c;
}

#last-activity{
    border-bottom: none;
}

/* Allows the images in the activities section to rotate when mouse-hovered, courtesy of Free Frontend (https://freefrontend.com/css-image-effects/) */
.image-div{
  perspective: 4000px;
  position: relative;
  transform-style: preserve-3d;
  width: 85%;
  margin: auto;
}

.image-div img{
  transform: rotateX(70deg) rotateZ(-60deg);
  box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
  transition: all .6s;
  transform-style: preserve-3d;
}

.image-div:hover img{
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  transition: all .4s;
}

/*--------------------------------Footer */

footer div{
    padding-top: 0x;
    padding-bottom: 0px;
    text-align: center;
    vertical-align: middle;
}

footer p{
    margin-top: 17px;
}

.social-links{
    margin-top: 5px;
    margin-bottom: 0px;
}

.social-links a{
    height: 55px;
    width: 55px;
}

/* Styles the social media icons, courtesy of Code Institute (https://codeinstitute.net/)*/
.social-links i{
    width: 25px;
    height: 25px;
    font-size: 25px;
    padding-top: 13px;
    color: #eaeff0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-------------------------------- Member Modal */

/* Overrides the element style that pushes the modal off-center */
#member-modal{
    padding-right: 0px !important; 
}

.modal-content{
    background-color: transparent;
    border: none;
}

#modal-image{
    padding: 0px;
}

#modal-image img{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.modal-body{
    background-color: #06273c;
    color: #d6dee1;
    border-radius: 1rem;
    padding: 0px 16px;
}

.modal-body button{
    background-color: #d6dee1;
    color: #06273c;
    margin-top: 16px;
    margin-bottom: 16px;
}

#modal-form{
    margin-top: 20px;
}

#modal-thanks button{
    background-color: #06273c;
    color: #d6dee1;
}

#modal-thanks p{
    margin-top: 1rem;
}

/*--------------------------------Media queries */

@media screen and (max-width: 992px) {
    /* Allows the burger menu to only appear on smaller devices, and only shows the button menu on larger ones */
    #button-menu{
        display:none;
    }

    #burger-menu-button{
        display:block;
    }

    /* Makes it so the separators only appear in between columns */
    .single-location{
        border-right: none;
    }

    .single-location div{
        border-bottom: 1px solid #eaeff0;
    }

    #last-location div{
        border-bottom: none;
    }

    /* Curves the required corners of the image depending on the device's size */
    #modal-image img{
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }
}

